@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');
.clear {
	clear: both;
}

body {
	background: #15191D;
	font: 18px 'Open Sans', sans-serif;
}

#goods-body {
	background: #EEEEEE;
}

.ads-body {
	background: url(../res/Background-ads.png) no-repeat;
	background-size: cover;
	height: 100%;
}

a {
	text-decoration: none;
}

#wrapper {
	margin: 0 auto;
}

#goods-wrapper {
	width: 1199px;
	height: 1496px;
	margin: 0 auto;
	position: relative;
}

#header {
	background: #040506;
	width: 100%;
	height: 64px;
}

#head {
	margin: 0 auto;
	background: #040506;
	width: 1200px;
	height: 64px;
}

#logo {
	margin: 5.5px 0 6px 15px;
	width: 136px;
	height: 51.5px;
	float: left;
}

#menu {
	margin: 0 15px 0 0;
	float: right;
}

#menu ul li {
	float: left;
	text-align: center;
}

#menu a {
	line-height: 3.5;
	padding: 15px 17px;
	color: #A79258;
}

#menu ul li:hover {
	background: #212122;
}

#header-image {
	height: 527px;
	min-width: 960px;
	max-width: 1920px;
	margin: 0 auto;
	position: relative;
}



#main-title {
	margin: 0 auto;
	position: absolute;
	width: 100%;
	height: 186px;
	text-align: center;
	font: 45px 'Palatino Linotype', sans-serif;
	color: #DCC585;
	top: 78px;
	bottom: 263px;
}

#arrow-down {
	text-align: center;
	margin: 0 auto;
	position: absolute;
	width: 100%;
	height: 31px;
	top: 477px;
	bottom: 19px;
}

#slide-buttoms {
	margin: 0 auto;
	position: absolute;
	right: 31px;
	bottom: 25px;
	top: 477px;
	float: right;
}
#slide-buttoms ul li {
	float: left;
	margin-left: 10px;
}

#content-box {
	min-height: calc(100vh - 138px);
	position: relative;
	margin: 0 auto;
	width: 1200px;
	background: #15191D;
	margin: 0 auto;
	height: 883px;
}

#contact-box {
	min-height: calc(100vh - 138px);
	position: relative;
	margin: 0 auto;
	width: 1200px;
	background: #15191D;
	margin: 0 auto;
	height: 100%;
}

#ads-box, #ads-opacy {
	min-height: calc(100vh - 138px);
	position: relative;
	height: 100%;
	margin: 0 auto;
	width: 1200px;
}

#ads-opacy {
	background: rgba(119, 119, 119, 0.52);;
	width: 100%;
	height: 100%;

}

#ads-block {
	position: relative;
	padding: 60.9px 15px 43.5px 16px;
	width: 1169.05px;
	height: 170px;
}

#ads-block-add {
	position: relative;
	padding: 60.9px 15px 0 16px;
	width: 1169.05px;
	height: 70px;
}



#ads-title {
	font: 45px 'Open Sans', sans-serif;
	color: #FFFBFC;
	display: block;
	text-align: center;
}

#buttons {
	position: relative;
	color: #FFFBFC;
	margin-top: 45.5px;
}

#buttons a{
	font: 20px 'Open Sans', sans-serif;
  	text-align: center;
  	line-height: 2.6;
  	color: #FFFBFC;
}

#button-add:hover, #button-show:hover {
	background: #606278 ;
}

#button-add, #button-show {
	position: absolute;
	background: #51536B;
	border: 1px solid #DDDCDC;
	height: 59px;
	width: 329.82px;
	line-height: 2.9;

}

#button-add {
	left: 420px;
}

#button-show {
	left: 595.1px;
}

#ads-block-middle {
	margin: 0 auto;
	height: 601px;
	width: 1169.05px;
	position: relative;
	padding-bottom: 93px;
}

#left-side-ad, #right-side-ad {
	position: absolute;
	height: 620px;
	width: 548.5px;


}

#left-side-ad {
	left: 0;
}

#right-side-ad {
	right: 0;

}

.ad-card{
	position: relative;
	width: 548.14px;
	height: 186.4px;
	margin-bottom: 23px;
}

.ad-card-photo {
	position: absolute;
	left: 0;
	width: 184.66px;
	height: 186.4px;
}

.ad-card-title {
	position: absolute;
	right: 0;
	width: 364.36px;
	height: 33px;
	background: #464143;
}

.ad-type {
	font: 20px 'Open Sans', sans-serif;
	color: #FFFBFC;
	position: absolute;
	left: 22.7px;
	top: 1px;
}

.ad-date {
	font: 10px 'Open Sans', sans-serif;
	color: #CCCBCB;
	position: absolute;
	right: 49.7px;
	top: 10px;
}

.ad-content {
	background: #EEEDED;
	position: absolute;
	top: 33px;
	right: 0;
	width: 364.36px;
	height: 154px;
}

.ad-name {
	font: 12px 'Open Sans', sans-serif;
	color: #37444D;
	position: absolute;;
	top: 10px;
	left: 27px;
	width: 324.34px;
}

.ad-content-text {
	position: absolute;
	color: #435E70;
	font: 11px 'Open Sans', sans-serif;
	line-height: 1.3;
	width: 323.89px;
	height: 83px;
	left: 27px;
	top: 34px;
}

.ad-price {
	position: absolute;
	color: #6E7A82;
	font: 12px 'Open Sans', sans-serif;
	left: 27px;
	bottom: 8.5px;
}

.ad-info-button {
	position: absolute;
	color: #0083DB;
	font: 12px 'Open Sans', sans-serif;
	right: 17.4px;
	bottom: 8.5px;
	text-transform: uppercase;
}

.ad-info-button:hover {
	text-decoration: underline;
}

#new-ad {
	position: relative;
	background: #EEEDED;
	border: 1px solid #DDDCDC;
	margin: 0 auto;
	width: 722.22px;
	height: 690.7px;
	margin-bottom: 107.8px;
	margin-top: 47.5px;
}

#data-place{
	text-align: center;
	margin: 0 auto;
	width: 364px;
	height: 400px;
	margin: 44.5px 178.7px 246.2px 179.5px;
}

#data-place input {
	margin: 0 auto;
	width: 355px;
	height: 35px;
	margin-top: 3px;
	margin-bottom: 10px;
}

#data-place label, #upload_photo label {
	font: 20px 'Open Sans', sans-serif;	
	line-height: 1.4;
	color: #95989A;
}

#upload_photo label {
	position: absolute;
	left: 76px;
}

#upload_photo {
	padding-top: 10px;
	top: 454.5px;
	left: 179.5px;
	position: absolute;
	width: 364px;
	height: 113.5px;
}

#new-ad-photo {
	position: absolute;
	bottom: 0;
	left: 50.5px;
}

#buttons-upload {
	position: absolute;
	right: 49px;
	bottom: 3px;
}

#button-load, #button-delete {
	width: 165px;
	height: 29.52px;
	background: #A79258;
	font: 15px 'Open Sans', sans-serif;
	color: #FFFFFF;
	text-align: center;
	border: 1px solid #DDDCDC;
	line-height: 1.7;
}

#button-delete {
	margin-top: 10px;
}

#button-load:hover, #button-delete:hover {
	background: #af9b67;
}

#button-send {
	font: 20px 'Open Sans', sans-serif;
  	text-align: center;
  	line-height: 2.9;
  	color: #FFFBFC;
  	position: absolute;
	background: #51536B;
	border: 1px solid #DDDCDC;
	height: 59px;
	width: 329.82px;
	top: 610px;
	left: 196.5px;
}

#button-send:hover {
	background: #606278 ;
}





#info {
	display: block;
	position: relative;
	margin: 0 auto;
	width: 1032.7px;
	height: 354px;
	margin: 110px 112px 52.5px 137px;
}

#where-map {
	display: block;
	position: absolute;
	height: 352px;
	width: 529.7px;
/*	background: url(../res/map.png) no-repeat;
*/	border:  2px solid #A79258;
/*	background-size: cover;*/
}

#central-line {
	float: right;
	width: 20px;
	height: 749px;
	position: absolute;
	background: #A79258;
}

#contacts-text{
	top: 35px;
	color: #E2C880;
	font: 18px 'Open Sans', sans-serif;
	position: absolute;
	right: 100px;
	width: 366px;
	height: 280px;
	border-left: 3px solid #A79258;
	padding-left: 15.5px;
	padding-top: 18px;
}

.settings {
	color: #757575;
	font: 12px 'Open Sans', sans-serif;
}

em {
	color: #FFFBFC;
	font: 15px 'Open Sans', sans-serif;
}

#offer-title {
	padding-top: 10px;
	line-height: 1.4;
	text-align: center;
	font: 38px 'Open Sans', sans-serif;
	color:#A79258;
}

.card {
	margin-top: 12.5px;
	margin-bottom: 29px;
	position: relative;
/*	background: url(../res/offer-1.png) 100% no-repeat;*/
	text-align: center;
	height:375px;
	width:550.5px;
	border:  2px solid #A79258;
	background-clip: border-box;
	display: block;
}

.mirror {
	width:550.5px;
	top: 285px;
	position: absolute;
}

.offer-text {
	font: 18px 'Open Sans', sans-serif;
	color: #FFFBFC;
	position: absolute;
	bottom: 16.5px;
	text-align: center;
	margin: 0 auto;
	left: 3.6px;
	right: 3.7px;
}

#content-box-1 {
	left: 15px;
	position: absolute;
	float: left;
}

#content-box-2 {
	right: 15px;
	position: absolute;
	float: right;
}

#main-footer {
	background: #040506;
	width: 100%;
	height: 138px;
}

#footer {
	position: relative;
	color: #A79258;
	font: 18px 'Open Sans', sans-serif;
	margin: 0 auto;
	width: 1200px;
	height: 138px;
	background: #040506;
}

#footer-left {
	top: 26px;
	left: 15px;
	position: absolute;
	float: left;
	text-align: left;

}

#footer-right {
	top: 26px;
	right: 15px;
	position: absolute;
	float: right;
	text-align: right;
}

#data-place input[type="text"] {
	font: 18px 'Open Sans', sans-serif;
}

/*Тут у нас попап*/

.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}
.b-popup .b-popup-content{
    margin:40px auto 0px auto;
    width:100px;
    height: 40px;
    padding:10px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}

/*Тут у нас попап*/

.popup {
	position: absolute;
	left: 156.5px;
	top: 48.4px;
	z-index: 1;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
    
}


.ad-full {
	position: relative;
	margin: 0 auto;
	width: 871.39px;
	height: 982.85px;
	background: #FFFFFF;
	left: 0;
	top: 0;
}


.ad-full p, a {
	font-family: 'Roboto', sans-serif;
}

.ad-full-header {
	font-size: 32px;
	width: 100%;
	height: 181.7px;
}

.users-photo, .tsf-photo{
	width: 101.32px;
	height: 101.32px;
	position: absolute;
	left: 40.5px;
	top: 39.9px;
}

.users-name {
	position: absolute;
	top: 42.4px;
	left: 173.5px;
}

.users-action {
	position: absolute;
	top: 93.7px;
	left: 173.5px;
	color: #757575;
}

.close-popup {
	width: 20px;
	height: 20px;
	position: absolute;
	right: 29.1px;
	top: 29.1px;
	background: url(../res/Union.png) no-repeat;
}

.close-popup:hover {
	width: 20px;
	height: 20px;
	position: absolute;
	right: 30.1px;
	top: 28.1px;
	background: url(../res/Union-shadow.png) no-repeat;
}

.ad-full-photo {
	width: 100%;
	height: 426.72px;
}

.ad-full-name {
	font-size: 34px;
	position: absolute;
	left: 40.5px;
	top: 621.4px;
}

.ad-full-description {
	display: block;
	width: 791.14px;
	height: 189.26px;
	position: absolute;
	left: 40.5px;
	top: 675px;
	font-size: 25px;
}

.ad-full-buttons {
	position: absolute;
	left: 40.5px;
	bottom: 54.9px;	
}

.ad-full-show-num {
	margin-right: 65px;
}

.ad-full-buttons a{
	color: #4D4D4D;
	font-size: 25px;
}

.ad-full-buttons a:hover {
	text-decoration: underline;
}

.YMapsID {
	width: 100%;
	height: 100%;
}

.goods-sidebar {
	box-shadow: 0px 1px 16px 0px rgba(50, 50, 50, 1);
	position: absolute;
	left: 0;
	top: 0;
	width: 394px;
	height: 1496px;
}

.goods-sidebar-header {
	position: absolute;
	left: 0;
	top: 0;
	width: 393.5px;
	height: 336.73px;
	background: url(../res/sidebar-header.png) no-repeat;
}

.sidebar-header-title {
	position: absolute;
	left: 0;
	top: 218px;
	width: 100%;
	height: 119px;
	background: rgba(149, 152, 154, 0.8);

}

#sidebar-header-title {
	font-family: 'Roboto', sans-serif;	
	font-size: 30px;
	text-align: center;
	color: #ffffff;
	position: absolute;
	top: 22.7px;
	left: 71px;
}

.goods-sidebar-menu {
	background: #FAFAFA;
	height: 1159px;
	width: 100%;
	position: relative;
	margin-top: 336.73px;
}

.goods-sidebar-menu a {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #000000;	
}

.goods-sidebar-menu a:hover {
	color: #4285F4;
}

.goods-sidebar-menu ul {
	width: 335px; 
	padding: 51px 0 0 0;
	margin-right: 0;
	margin-left: 22px;
}


.goods-sidebar-menu ul li {
	padding-left: 40px;
	padding-top: 3px;
	line-height: 1.1;
	height: 57.86px;
}



#a1 {
	background: url(../res/li/led-light-lam.png) no-repeat;
}

#a1:hover {
	background: url(../res/li/led-light-l.png) no-repeat;
}


#a2 {
	background: url(../res/li/icon1.png) no-repeat;
}

#a2:hover {
	background: url(../res/li/iconhover.png) no-repeat;
}


#a3 {
	background: url(../res/li/dat.png) no-repeat;
}

#a3:hover {
	background: url(../res/li/data.png) no-repeat;
}


#a4 {
	background: url(../res/li/icon3.png) no-repeat;
}

#a4:hover {
	background: url(../res/li/icon2.png) no-repeat;
}


#a5 {
	background: url(../res/li/led-bulb1.png) no-repeat;
}

#a5:hover {
	background: url(../res/li/led-bulb.png) no-repeat;
}


#a6 {
	background: url(../res/li/hydro-power-generatio.png) no-repeat;
}

#a6:hover {
	background: url(../res/li/hydro-power-generation.png) no-repeat;
}


#a7 {
	background: url(../res/li/electrodes.png) no-repeat;
}

#a7:hover {
	background: url(../res/li/electrod.png) no-repeat;
}


#a8 {
	background: url(../res/li/011-jumper.png) no-repeat;
}

#a8:hover {
	background: url(../res/li/011-jumper22.png) no-repeat;
}


#a9 {
	background: url(../res/li/010-cooking-stove-with-heat.png) no-repeat;
}

#a9:hover {
	background: url(../res/li/010-cooking-stove-with-heat22.png) no-repeat;
}


#a10 {
	background: url(../res/li/009-alarm.png) no-repeat;
}

#a10:hover {
	background: url(../res/li/009-alarm22.png) no-repeat;
}


#a11 {
	background: url(../res/li/008-phone-receiver.png) no-repeat;
}

#a11:hover {
	background: url(../res/li/008-phone-receiver22.png) no-repeat;
}


#a12 {
	background: url(../res/li/007-tool.png) no-repeat;
}

#a12:hover {
	background: url(../res/li/007-tool22.png) no-repeat;
}


#a13 {
	background: url(../res/li/006-package-cube-box-for-delivery.png) no-repeat;
}

#a13:hover {
	background: url(../res/li/006-package-cube-box-for-delivery22.png) no-repeat;
}


#a14 {
	background: url(../res/li/005-celsius.png) no-repeat;
}

#a14:hover {
	background: url(../res/li/005-celsius22.png) no-repeat;
}


#a15 {
	background: url(../res/li/004-battery.png) no-repeat;
}

#a15:hover {
	background: url(../res/li/004-battery22.png) no-repeat;
}


#a16 {
	background: url(../res/li/003-ac.png) no-repeat;
}

#a16:hover {
	background: url(../res/li/003-ac22.png) no-repeat;
}


#a17 {
	background: url(../res/li/002-boat-motor.png) no-repeat;
}

#a17:hover {
	background: url(../res/li/002-boat-motor22.png) no-repeat;
}


#a18 {
	background: url(../res/li/111.png) no-repeat;
}

#a18:hover {
	background: url(../res/li/001-settings-work-tool-122.png) no-repeat;
}

.list-of-goods {
	height: 1417px;
	width: 756px;
	position: absolute;
	top: 24px;
	left: 427.5px;
}

.list-of-goods h3 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 37px;
	color: #000000;	
}

.left-column-goods, .right-column-goods {
	position: absolute;
	width: 355px;
	height: 1290px;
	overflow: hidden;
	top: 85px;
}

.right-column-goods {
	left: 411.5px;
}

.good-photo {
	width: 334px;
	height: 300px;
}

.good-card {
	position: relative;
	top: 0;
	left: 0;
	width: 334px;
	height: 300px;
	box-shadow: 7px 7px 19px 0px rgba(50, 50, 50, 0.56);
	margin-bottom: 20px;
}

.good-price {
	position: absolute;
	left: 16px;
	top: 131px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #ffffff;
}

.good-title {
	background: rgba(66, 66, 66, 0.67);
	position: absolute;
	width: 100%;
	height: 140px;
	bottom: 0;
}

.good-name {
	position: absolute;
	left: 16px;
	top: 17px;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	color: #ffffff;
}

.good-description-p {
	position: absolute;
	left: 16px;
	top: 51px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #ffffff;
}

.good-more {
	position: absolute;
	left: 16px;
	top: 103px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #ffffff;
}

.good-more:hover {
	color: #E8E8E8;
}

.list-of-goods-nav {
	position: absolute;
	bottom: 0;
	left: 261.3px;
	width: 236.17px;
	height: 34px;
}

.first {
	position: absolute;
	left: 0px;
	top: 3px;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	color: #4285F4;
}

.second {
	position: absolute;
	left: 23.9px;
	top: 3px;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	color: #000000;
}

.right-arrow {
	position: absolute;
	left: 54.4px;
	top: 8px;
	color: #000000;
}

.last {
	position: absolute;
	left: 104.6px;
	top: 3px;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	color: #000000;
}

/*Тут начинается слайдер */




/*Тут слайдер заканчивается*/