@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.clear {
	clear: both;
}

body {
	background: #15191D;
	font: 18px 'Open Sans', sans-serif;
}

.ads-body {
	background: url(../res/Background-ads.png) no-repeat;
	background-size: cover;
	height: 100%;
}

a {
	text-decoration: none;
}

#wrapper {
	margin: 0 auto;
}

#header {
	background: #040506;
	width: 100%;
	height: 64px;
}

#head {
	margin: 0 auto;
	background: #040506;
	width: 1200px;
	height: 64px;
}

#logo {
	margin: 5.5px 0 6px 15px;
	width: 136px;
	height: 51.5px;
	float: left;
}

#menu {
	margin: 0 15px 0 0;
	float: right;
}

#menu ul li {
	float: left;
	text-align: center;
}

#menu a {
	line-height: 3.5;
	padding: 15px 17px;
	color: #A79258;
}

#menu ul li:hover {
	background: #212122;
}

#header-image {
	height: 527px;
	min-width: 960px;
	max-width: 1920px;
	margin: 0 auto;
	position: relative;
}

#main-title {
	margin: 0 auto;
	position: absolute;
	width: 100%;
	height: 186px;
	text-align: center;
	font: 45px 'Palatino Linotype', sans-serif;
	color: #DCC585;
	top: 78px;
	bottom: 263px;
}

#arrow-down {
	text-align: center;
	margin: 0 auto;
	position: absolute;
	width: 100%;
	height: 31px;
	top: 477px;
	bottom: 19px;
}

#slide-buttoms {
	margin: 0 auto;
	position: absolute;
	right: 31px;
	bottom: 25px;
	top: 477px;
	float: right;
}
#slide-buttoms ul li {
	float: left;
	margin-left: 10px;
}

#content-box {
	min-height: calc(100vh - 138px);
	position: relative;
	margin: 0 auto;
	width: 1200px;
	background: #15191D;
	margin: 0 auto;
	height: 883px;
}

#contact-box {
	min-height: calc(100vh - 138px);
	position: relative;
	margin: 0 auto;
	width: 1200px;
	background: #15191D;
	margin: 0 auto;
	height: 100%;
}

#ads-box, #ads-opacy {
	min-height: calc(100vh - 138px);
	position: relative;
	height: 100%;
	margin: 0 auto;
	width: 1200px;
}

#ads-opacy {
	background: rgba(119, 119, 119, 0.52);;
	width: 100%;
	height: 100%;

}

#ads-block {
	position: relative;
	padding: 60.9px 15px 74px 16px;
	width: 1169.05px;
	height: 162.57px;
}

#ads-title {
	font: 45px 'Open Sans', sans-serif;
	color: #FFFBFC;
	display: block;
	text-align: center;
}

#buttons {
	position: relative;
	color: #FFFBFC;
	font: 20px 'Open Sans', sans-serif;
  	text-align: center;
	line-height: 2.6;
	margin-top: 45.5px;
/*	overflow: hidden;*/
}


#button-add, #button-show {
	position: absolute;
	background: #51536B;
	border: 1px solid #DDDCDC;
	height: 59px;
	width: 329.82px;

}

#button-add {
	left: 244.5px;
}

#button-show {
	left: 595.1px;
}



#info {
	display: block;
	position: relative;
	margin: 0 auto;
	width: 1032.7px;
	height: 354px;
	margin: 110px 112px 52.5px 137px;
}

#where-map {
	display: block;
	position: absolute;
	height: 352px;
	width: 529.7px;
	background: url(../res/map.png) no-repeat;
	border:  2px solid #A79258;
	background-size: cover;
}

#central-line {
	float: right;
	width: 20px;
	height: 749px;
	position: absolute;
	background: #A79258;
}

#contacts-text{
	top: 35px;
	color: #E2C880;
	font: 18px 'Open Sans', sans-serif;
	position: absolute;
	right: 100px;
	width: 366px;
	height: 280px;
	border-left: 3px solid #A79258;
	padding-left: 15.5px;
	padding-top: 18px;
}

.settings {
	color: #757575;
	font: 12px 'Open Sans', sans-serif;
}

em {
	color: #FFFBFC;
	font: 15px 'Open Sans', sans-serif;
}

#offer-title {
	padding-top: 10px;
	line-height: 1.4;
	text-align: center;
	font: 38px 'Open Sans', sans-serif;
	color:#A79258;
}

.card {
	margin-top: 12.5px;
	margin-bottom: 29px;
	position: relative;
/*	background: url(../res/offer-1.png) 100% no-repeat;*/
	text-align: center;
	height:375px;
	width:550.5px;
	border:  2px solid #A79258;
	background-clip: border-box;
	display: block;
}

.mirror {
	width:550.5px;
	top: 285px;
	position: absolute;
}

.offer-text {
	font: 18px 'Open Sans', sans-serif;
	color: #FFFBFC;
	position: absolute;
	bottom: 16.5px;
	text-align: center;
	margin: 0 auto;
	left: 3.6px;
	right: 3.7px;
}

#content-box-1 {
	left: 15px;
	position: absolute;
	float: left;
}

#content-box-2 {
	right: 15px;
	position: absolute;
	float: right;
}

#main-footer {
	background: #040506;
	width: 100%;
	height: 138px;
}

#footer {
	position: relative;
	color: #A79258;
	font: 18px 'Open Sans', sans-serif;
	margin: 0 auto;
	width: 1200px;
	height: 138px;
	background: #040506;
}

#footer-left {
	top: 26px;
	left: 15px;
	position: absolute;
	float: left;
	text-align: left;

}

#footer-right {
	top: 26px;
	right: 15px;
	position: absolute;
	float: right;
	text-align: right;
}